body{
    font-family: 'Courier New', Courier, monospace;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.inputText{
    width: 95%;
    height: 70vh;
    padding: 10px;
    font-size: 900%;
    border: none;
    text-align: center;
    background-color: rgb(239, 231, 231);
    border-radius: 20px;
}

@media screen and (max-width: 480px) {
    .inputText{
        height: 30vh;
        font-size: 600%;
    }    
}

.inputText:focus{
    outline: none;
}

h1, h3{
    margin: 0;
}

.inputForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.disabled{
    display: none;
}

.reset{
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;

}